* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  background-color: #fcf8ff;
  overflow: hidden;
  height: 676px;
  position: relative;
}
main {
  overflow: hidden;
}
.deco-1,
.deco-2 {
  position: absolute;
  visibility: hidden;
}
.deco-1 {
  height: 270px;
  top: 100px;
  left: -100px;
}
.deco-2 {
  height: 141px;
  right: -60px;
  top: 250px;
}
.top-header {
  background-color: #24053e;
  height: 500px;
}
.logo-header {
  height: 67px;
  padding: 32px 20px 0 23px;
  display: flex;
  justify-content: space-between;
}
.logo-header img {
  width: 95.76px;
  height: 24.61px;
}
.tagline {
  font-family: Fraunces;
  font-weight: 300;
  font-size: 32px;
}
.title-cta {
  font-family: Monserrat;
  font-weight: 100;
  line-height: 150%;
  color: white;
  font-size: 18px;
}
.underline {
  text-decoration: underline;
  text-decoration-color: #44ffa1;
  text-underline-offset: 8px;
  padding-bottom: 0;
}
.hero {
  text-align: center;
  color: white;
  position: relative;
  z-index: 10;
}
.tagline {
  padding-bottom: 40px;
  margin-top: 56px;
}
.learn-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #24053e;
  text-decoration: none;
  height: 53px;
  width: 151px;
  background-color: #44ffa1;
  font-size: 16px;
  font-weight: bold;
  font-family: Manrope;
  border-radius: 2px;
}
.learn-button:hover {
  background-color: #24053e;
  color: #44ffa1;
  border: 1px #44ffa1 solid;
}
.the-curve,
.the-curve-2 {
  position: relative;
  top: -130px;
  height: 187.5px;
  overflow: hidden;
  border-radius: 50%;
  left: -90px;
  width: 150vw;
}
.the-curve {
  background-color: #24053e;
}
.the-curve-2 {
  background-color: #fcf8ff;
}
.phone {
  height: 184px;
  width: 360px;
  z-index: 40;
  margin: 0 auto;
  display: block;
  position: relative;
  top: -230px;
}
.number-list-section {
  background-color: #fcf8ff;
  height: 862px;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 64px 20px;
  font-family: Fraunces;
  z-index: 10;
}
.number-list-section p {
  font-family: Manrope;
  line-height: 180%;
  font-size: 18px;
}
.number-list {
  display: inline-block;
  border: 1px solid black;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  font-size: 20px;
  font-weight: bold;
  line-height: 46px;
}
.number-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.info-p {
  padding-top: 10px;
}
.number-text h2 {
  padding-top: 10px;
}
.blue-content {
  width: 335px;
  text-align: center;
  height: 393px;
  background-color: #24053e;
  margin: 0 auto;
  color: white;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  top: -40px;
}
.blue-content::after {
  content: url("assets/images/bg-pattern-3.svg");
  height: 151px;
  position: absolute;
  right: -15px;
  bottom: 0px;
  visibility: hidden;
}
.aside-title {
  font-size: 32px;
  font-family: Fraunces;
}
.aside-p {
  font-family: Manrope;
  line-height: 180%;
  font-size: 16px;
}
.cta {
  background-color: white;
}
.cta-button {
  margin: 0 auto;
}
.cta img {
  width: auto;
  height: 280px;
  display: block;
  margin: 0 auto;
}
footer {
  height: 260.61px;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.social-media-icons {
  display: flex;
  width: 116px;
  justify-content: space-between;
}
.attribution {
  display: block;
  position: relative;
  bottom: 15px;
  margin: 0 auto;
  text-align: center;
}
@media only screen and (min-width: 766px) {
  .deco-1,
  .deco-2,
  .blue-content::after {
    visibility: visible;
  }
  header {
    height: 776px;
  }
  .number-list-section {
    padding: 44px 58px;
    justify-content: flex-start;
    background-color: #fcf8ff;
  }
  .the-curve,
  .the-curve-2 {
    width: 120vw;
  }
  .number-item {
    display: flex;
    flex-direction: row;
    padding-top: 75px;
  }
  .number-text {
    width: 576px;
    height: 120px;
  }
  .number-text h2 {
    text-align: left;
    padding-left: 56px;
    padding-top: 0;
  }
  .phone {
    width: 602.81px;
    height: 296px;
  }
  .info-p {
    padding-left: 56px;
    padding-top: 28px;
    text-align: left;
  }
  .fix {
    padding-top: 0;
  }
  .blue-content {
    width: 504px;
    height: 309px;
    right: -90px;
    text-align: left;
  }
  .cta {
    margin-top: -90px;
  }
  .cta img {
    left: -200px;
    bottom: -50px;
    position: relative;
    display: block;
    margin: 0 auto;
  }
  .cta button {
    margin: 0;
  }
  .number-list-section {
    height: 662px;
  }
}
@media only screen and (min-width: 1200px) {
  .logo-header {
    padding: 50px 80px;
    padding-bottom: 0;
  }
  .tagline {
    font-size: 80px;
    display: inline-block;
    width: 635px;
  }
  .top-button {
    margin-bottom: 100px;
  }
  main {
    background-color: #fcf8ff;
  }
  .number-list-section {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 462px;
    padding-top: 20px;
  }
  .number-item,
  .number-text {
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    width: 352px;
  }

  .number-text {
    padding-top: 50px;
  }
  .the-curve-2 {
    top: 0px;
    height: 150px;
  }
  .cta {
    padding-top: 100px;
  }
  .cta img {
    left: -300px;
    bottom: -150px;
    height: 350px;
  }
  .blue-content {
    width: 530px;
    height: 311px;
    padding: 54px;
  }
  .aside-p {
    font-size: 12px;
  }
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
